/__pycache__/
/venv/
/synth_images/
/anim_demo_frames/
/anim_demo.mp4
/classifier.pth
/ppo_demo/
/ppo_full/
/tmp_sample/
/sample_vis.png
/logs/
/ppo_best/
/ppo_checkpoints/
/ppo_logs/
/ppo_tensorboard/
/ppo_full_zip/
ppo_best/best_model.zip
ppo_full.zip
